*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.barra-nav{
    position: fixed;
    background-color: aliceblue;
    height: 80px;
    width: 100%;
    box-shadow: 2px 2px 2px black;
    z-index: 50;
}



.icon-bar{
    font-size: 35px;
    position: absolute;
    right: 20px;
    top:20px;
    cursor: pointer;
    transition: all 0.5s;
}

.icon-bar:hover {
    font-size: 37px;
    color: rgb(65, 62, 62);
}

.ul-list{
    position: absolute;
    transform: translateX(-210px);
    height: 1000px;
    width: 200px;
    background-color: rgb(250, 239, 232);
    transition: all 0.5s;
}

.ul-list-active{
    transform: translateX(0px);
}

/* .div-img{
    position: absolute;
    background-image: url("https://png.pngtree.com/png-vector/20200706/ourlarge/pngtree-businessman-user-character-vector-illustration-png-image_2298565.jpg");
    background-position: center center;
    background-size: contain;
    height: 500px;
    width: 500px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    ba

} */
.avatar{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-top: 15px;
    box-shadow: 2px 2px 2px black;
}

.items-li{
    list-style: none;
    background-color: black;
    height: 30px;
    line-height: 30px;
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top:10px;
    border-radius: 10px;
    transition: all 0.5s;
}

.items-li:hover {
    background-color: rgb(68, 67, 67);
}
.items-li>a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;

    width: 100px;
}

.name-user-nav{
    text-align: center;

}

.content-formularioR{
    padding-top: 130px;
}

/* PERFIN DE EL PERSONAL */

.form-control{
    width: 80%;
    margin: auto;
    position: relative;
    background-color: #fff;
    border-radius: 12px;
}

.content-formularioR{
    width: 100%;

}

.content-datos{
    display: grid;
    margin: auto;
    grid-template-columns: repeat(6,1fr);
    align-items: center;
    width: 100%;
    height: 220px;
    padding: 40px;
    column-gap: 10PX;
    justify-items:self-start;
    
}

.content-datos>label{
    width: 100%;
}

.headerformE{
    height: 50px;
    width: 100%;
    position: absolute;
    top: -40px;
    border-radius: 12px 12px 0 0;
    text-align: center;
    padding-top: 5px;
    font-size: 25px;
    color: rgb(13, 18, 66);
    text-shadow: 2px 2px 2px rgb(252, 252, 252);
    letter-spacing: 3px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.datos-personalesE{
    position: absolute;
    top:20px;
}

.Boton-radio{
    list-style: none;
    display: flex;
    column-gap: 15px;
   
}




.direction-content{
    padding: 40px;
    position: relative;

    /* padding-top: 40px; */
}

.direccion-cnn{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    justify-items:self-start;
}

.content-paisesE{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 80%;
    margin: auto;
    justify-items: center;
    padding-bottom: 40px;
}

.datos-personalesED{
    position: absolute;
    top:4px;
}

.bt-enviar-registro{
    width: 130px;
    height: 40px;
    background-color: rgb(131, 177, 131);
    border: none;
    border-radius: 12px;
    transition: all 0.5s;
    cursor: pointer;
  }

  .bt-enviar-registro:hover {
    background-color: rgb(148, 223, 148);
}

.label-pass{
    position: relative;
}

.bt-mostrarPass{
  
    font-size: 15px;
    color: rgb(194, 194, 194);
    position: absolute;
    left: 210px;
    top: 8px;
    cursor: pointer;
}