{% extends 'registration/login.html' %} 
{%load static%} 
{%block Contenedor%}



 <div class="ContainerVisitante">
    <form method="post" class="visitante" id="formularioVisita" autocomplete="off">
        {% csrf_token %}
        <div class=" headerform">FORMULARIO DE VISITANTE</div>
        <div class="content-description">
        <h3 class="datos-personales">Datos Personales:</h3>
        <label for="nombre">Nombre:</label>
        {{formV.nombre}}
        <label for="paterno">Apellido Paterno:</label>
        {{formV.paterno}}
        <label for="materno">Apellido Materno:</label>
        {{formV.materno}}

        <label for="cargo">Cargo:</label>
        {{formV.cargo}}
        <label for="cel">Telefono:</label>
        {{formV.cel}}
        <label for="orgprocedencia">Organizacion:</label>
        {{formV.orgprocedencia}}
        </div>
       <div class="content-paises">
        <!-- SELECT PAIS -->
        <label>PAIS
            <select class="select-list" id="item_pais">
              <option value ="">------</option>
                {% for item_pais in pais%}
                  <option value="{{item_pais.idpais}}">
                   {{item_pais.nombre}}
                  </option>
                {%endfor%}
            </select>
        </label>

    <!-- SELECT ESTADO -->
        <label>ESTADO
            <select class="select-list" id="item_estado">
              <option value ="">------</option>
                {% for item_estado in estado%}
                  <option value="{{item_estado.idestado}}" data-chained="{{item_estado.fk_pais}}">
                    {{item_estado.nombre}}
                  </option>
                {%endfor%}
            </select>
        </label>

         <!-- MUNICPIO -->
        <label>MUNICIPIO
            <select class="select-list" id="item_municipio" name="mundeleg">
              <option value ="">------</option>
                {% for item_municipio in municipio%}
                  <option value="{{item_municipio.idmundeleg}}" data-chained="{{item_municipio.fk_estado}}">
                    {{item_municipio.nombre}}
                  </option>
                {%endfor%}
            </select>
        </label>

     <!-- SELECT CODIGO POSTAL -->
        <label>CODIGO POSTAL
          <select class="select-list" id="item_cp" name="cp">
             <option value ="">------</option>
               {% for item_cp in cp%}
                 <option value="{{item_cp.cp}}" data-chained="{{item_cp.fk_mpiodel}}">
                   {{item_cp.cp}}
                 </option>
               {%endfor%}
          </select>
        </label>
    </div>
<hr>
       <div class="content-credenciales">
           <h3>Credenciales de Ingreso</h3>
      
                <label>Usuario: {{formU.username}}</label>   

                <label>Contraseña: {{formU.password}} </label>
                
                <div class="bt-mostrarPass"  id="mostrarpass">Mostrar</div>
             
       </div>
        <div class="div-textarea">
            <h4>Descripcion</h4> 
            <div class="content-credenciales-input">
            {{formV.descripcion}}
           </div>
           
        </div>
         
    

        <center><input type="submit" value="Enviar" class="bt-submit-visitante"></center>
    </form>
    {% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}" style="background-color: rgb(235, 104, 104); line-height: 40px; font-size: 25px; height: 40px; text-align: center; width: 80%; margin: auto; list-style: none; color: white;">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
 </div>


         <!-- <script src="{% static 'js/jquery.chained' %}"></script> -->
         <script src="http://code.jquery.com/jquery-latest.min.js"></script>
         <script src="{% static 'StylesLogin/js/chained.js' %}"></script>
         <script src="{% static 'StylesLogin\js\validacionForms.js' %}"></script>
         <script>
               $(function() {
                  $('#item_estado').chained('#item_pais');
                   $('#item_municipio').chained('#item_estado');
                  $('#item_cp').chained('#item_municipio');
     
               })
         </script>
{%endblock%}