{% extends "ProyectoCCGApp/base.html" %}

{% load static %}

{% block content %}

    {% include "barra_busqueda/busqueda.html" %}

    <div class="card-footer text-center" style="position: absolute; left: 1; ">
        <a href="{% url 'nivel2' nivel_ant %}" class="btn btn-sm btn-secondary">Nivel anterior</a>
    </div>
    <div class="card-footer text-center" style="position: absolute; right: 1%; ">
        <a href="{% url 'agregarNivel3' nivel3_id nivel_ant %}" class="btn btn-success btn-lg">Agregar</a>
    </div>
        

    <div  style="margin-top: 10px; margin-left: 7%; margin-right: 8%;">

        <table class = "table table-bordered" style="color: white;">
            <thead class="thead-dark">
                <tr>
                    <th colspan="7" class="text-center">
                        UNIFORMAT NIVEL 3
                    </th>
                </tr>

                <tr>
                    <th>Código</th>
                    <th>Descripción en Español</th>
                    <th>Descripción en Inglés</th>
                    <th>Explicación en Español</th>
                    <th>Explicación en Inglés</th>
                    <th>Observaciones</th>
                    <th></th>
                </tr>

            </thead>

            <tbody>
                {% for UFTNivel3 in UFTNivels3 %}

                <tr>
                    <td>{{UFTNivel3.Codigo}}</td>
                    <td>{{UFTNivel3.descriSpa}}</td>
                    <td>{{UFTNivel3.descriEng}}</td>
                    <td>{{UFTNivel3.explicacionSpa}}</td>
                    <td>{{UFTNivel3.explicacionEng}}</td>
                    <td>{{UFTNivel3.Observaciones}}</td>
                    <td style="border: none; width:230;">
                        <a href="{% url 'nivel4' UFTNivel3.idUftN3 nivel3_id nivel_ant %}" class="btn btn-sm btn-secondary">Nivel 4</a>
                        <a href="{% url 'editarNivel3' UFTNivel3.idUftN3 nivel3_id nivel_ant %}" class="btn btn-sm btn-info">Editar</a>
                        <a href="{% url 'eliminarNivel3' UFTNivel3.idUftN3 nivel3_id nivel_ant %}" class="btn btn-sm btn-danger">Eliminar</a>
                        
                    </td>
                </tr>

                {% endfor %}

            </tbody>

        </table>

    </div>

{% endblock %}