{% extends "ProyectoCCGApp/base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}

    <div class="card-footer text-center" style="position: absolute; left: 1; ">
        <a href="{% url 'nivel4' nivel3_id nivel2_id nivel1_id %}" class="btn btn-secondary btn-sm">Volver</a>
    </div>
        
    <form action="" method="POST" style="color: white;">

        {% csrf_token %}

        <div style="width: 50%; margin: auto;">
            <h1 style="text-align: center;"> Agregar Nivel 4</h1>

            {{formaNivel4|crispy}}

            <button type="submit" class="btn btn-primary">Agregar</button>

        </div>
        
    </form>
   
    

{% endblock %}